# Server Configuration
PORT=3000

# Dashboard Login Credentials (Username & Password)
DASHBOARD_USER=admin
DASHBOARD_PASS=admin

# Cookie Session Secret (Must be changed to random unique string in production)
SESSION_SECRET=super-secret-key-apiwa-2026
